*.iml
.idea/
.DS_Store
node_modules/
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src-tauri/target/
target/
src-tauri/resources/git/*
!src-tauri/resources/git/.gitkeep
*.salive
*.hprof
