*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
*/build/
/captures
.externalNativeBuild
.cxx
rs/target/
rs/Cargo.lock
desktop/node_modules/
desktop/.svelte-kit/
desktop/src-tauri/target/
src/main/resources/*awegit_rs*
*.salive
*.hprof
*.dylib
*.dll
*.so